<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update activity info</title>
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
</head>
<body>



    <button type="submit" id="submitButton">submit</button>

    <p>

    </p>

    <script>
    $('#submitButton').on('click',function(){




                $.ajax({
                  url: "{{SERVER_HOST}}/api/get_club_info/all/",
                  type: 'GET',
                  contentType: false,
                  processData: false,
                  success: function (data) {// success callback function
                    $("p").prepend("return:"+JSON.stringify(data)+"<br><br>");
                  }
                })
            //}
    });
    //          $("p").prepend("xhr:"+JSON.stringify(xhr)+"<br><br>");
    //          $("p").prepend("status:"+status+"<br>");
    </script>


</body>
</html>