<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update activity info</title>
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
</head>
<body>

    id:<input type="text" name="id" style="width:80%;" id="id"><br>
    title:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="title" style="width:80%;" id="title"><br>
    type:
        <select name="type" id="type">
        <option value="N/A">N/A</option>
        <option value="ACTIVITY">ACTIVITY</option>
        <option value="OFFICIAL">OFFICIAL</option>
        <option value="WEBSITE">WEBSITE</option>
    </select><br>
    start datetime:<input type="datetime-local" name="startdatetime" id="startdatetime"><br>
    end datetime:<input type="datetime-local" name="enddatetime" id="enddatetime"><br>
    link:<input type="text" name="link" id="link"><br>
    location:<input type="text" name="location" id="location"><br>
    introduction:<input type="text" name="introduction" id="introduction"><br>
    can_follow<input type="text" name="can_follow" id="can_follow"><br>

    <label for="cover_image_file">如要更新活動封面圖，請選擇:</label><br>
        <input type="file" name="cover_image_file" id="cover_image_file"><br><br>
    <label for="add_relate_image">請選擇要上傳的活動圖片:</label><br>
        <input type="file" name="add_relate_image" id="add_relate_image" multiple><br><br>
    <label for="del_relate_image">請填寫要刪除的活動圖片:</label><br>
    <input type="text" name="del_relate_image" style="width:80%;" id="del_relate_image"><br><br>


    <button type="submit" id="submitButton">submit</button>

    <p>

    </p>

    <script>
    $('#submitButton').on('click',function(){

            let id = $('#id').val();
            let title = $('#title').val();
            let type = $('#type').val();
            let link = $('#link').val();
            let startdatetime =$('#startdatetime').val();
            let enddatetime =$('#enddatetime').val();
            let location = $('#location').val();
            let introduction = $('#introduction').val();
            let can_follow = $('#can_follow').val();
            let cover_image_file = $('#cover_image_file')[0].files[0];
            let add_relate_image = $('#add_relate_image')[0].files;
            let del_relate_image = $('#del_relate_image').val();

            let fd = new FormData();
            fd.append("id", id);
            fd.append("title", title);
            fd.append("type", type);
            fd.append("link", link);
            fd.append("startdatetime", startdatetime);
            fd.append("enddatetime", enddatetime);
            fd.append("location",location );
            fd.append("introduction",introduction );
            fd.append("can_follow",can_follow );
            fd.append("cover_image_file", cover_image_file);
            for (var i = 0; i < add_relate_image.length; i++) {
                fd.append("add_relate_image", add_relate_image[i]);
            }
            fd.append("del_relate_image", del_relate_image);



                $.ajax({
                  url: "{{ HOSTNAME }}/api/edit_activity/",
                  type: 'POST',
                  data:fd,
                  contentType: false,
                  processData: false,
                  success: function (data, status, xhr) {// success callback function
                    $("p").prepend("return:"+JSON.stringify(data)+"<br><br>");
                  }
                })
            //}
    });
    //          $("p").prepend("xhr:"+JSON.stringify(xhr)+"<br><br>");
    //          $("p").prepend("status:"+status+"<br>");
    </script>


</body>
</html>